<%- include("layouts/header"); -%>
<%- include('layouts/navbar') %>

<div class="container">

<div class="row">
  <div class="col-md-8 mt-4">
    <form action="/register/add_details" method="post">
      <input type="hidden" name="id" value="<%= id %>">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
    <div class="form-group">
      <label for="houseName">House Name</label>
      <input type="text" class="form-control" name="houseName" />
    </div>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" name="street" />
    </div>
    <div class="form-group">
      <div class="form-group">
        <label for="postoffice">Post Office</label>
        <input type="text" class="form-control" name="postoffice" />
      </div>
      <label for="distrtict">Distrtict</label>
      <input type="text" class="form-control" name="distrtict" />
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" name="state" />
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" name="country" />
    </div>
    <div class="form-group">
      <label for="pinecode">Pinecode</label>
      <input type="text" class="form-control" name="pinecode" />
    </div>
    <div class="form-group">
      <label for="phone">Mobile Number</label>
      <input type="text" class="form-control" name="phone" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
  </form>
  </div>
</div>


</div>



<%- include("layouts/footer"); -%>